.social-icon {
  margin-top: 60px;
  padding-right: 25px;
  float: left;
  border-bottom: 0px none #000;
}

.bgimg-1 {
  background-image: url('/static/images/coverphoto.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/static/images/coverphoto.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/static/images/coverphoto.jpg");
  min-height: 400px;
}


.w3-top{
  display: inline-block;
  border: 2px solid black;
  width: 100%;
}
.w3-top a {
  padding: 10px 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  float: left;
  width: 15%;
  background: #933737; }
