.social-icon {
  margin-top: 60px;
  padding-right: 25px;
  float: left;
  border-bottom: 0px none #000;
}

.bgimg-1 {
  background-image: url('/static/images/coverphoto.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/static/images/coverphoto.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/static/images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
  min-height: 400px;
}


.myNavbar{
  border: 10px solid white;
}

.myNavbar:after{
  content: "";
  display: table;
  clear: both;
}
